body {
    /* cursor: pointer;
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 0px;
    width: 100%; */
    background-color: #151c22 !important;
}

/* h2 {
    position: absolute;
    top: 50%;
    right: 0;
  } */

img {
    opacity: 1;
    object-fit: cover;
    object-position: center;
}

.coverContainer {
    width: 100%;
    padding-top: 75%;
}

.centerCrop {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* .coverContainer:hover{
    object-fit: scale-down;
    width: 120;
    height: 120;;
} */

.header img{
    mix-blend-mode: lighten;
}

.header {
    opacity: 1;
    width: 100%;
    height: 150px;
    display: block;
    background-color: #151c22 !important;
}

.banner100 {
    width: 100vw;
    height: 30vw;
    line-height: 30vw;
}

.banner50 {
    width: 100vw;
    height: 20vw;
    line-height: 20vw;
}


.gifLayer {
    /* cursor: pointer; */
    opacity: 0;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: 100;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.gifLayer:hover {
    opacity: 1;
}

.darkOverlay {
    background-color: #151c22 !important;
    position: absolute;
    top: 0px;
    opacity: 0.6;
    /* -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s; */
}

/* .hoverLayer:hover {
    opacity: 0;
} */

.tags {
    text-shadow: 2px 2px 8px #000000FF;
    text-align: left;
    color: white;
    position: absolute;
    opacity: 0.7;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    line-height: 1em;
    font-size: 0.85em;
    padding: 12px;
    font-weight: 100;
}

.tags:hover {
    opacity: 0;
}

.title {
    text-align: center;
    color: white;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.disapperWhenHover {
    opacity: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.disapperWhenHover:hover {
    opacity: 0;
}

.toMyBlog {
    position: fixed;
    top: 24px;
    left: 24px;
    width: 80px;
    z-index: 99999;
    border-radius: 8px;
    box-shadow: 1px 16px 20px #0000001a;
}