body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0px;
  width: 100%;
}

h1 {
  text-align: center;
  font-style: italic;
  color: #373fff;
}

img {
  width: 100%;
}

.block {
  background-color: #fff;
  float: left;
  border-color: #000;
  border: 0px;
  display: flex;
}

.vw50 {
  width: 50vw;
  height: 28.1vw;
}

.vw100 {
  width: 100vw;
  height: 56.2vw;
}
