.about {
  background-color: white;
  min-height: 100vh;
  color: black;
  text-align: center;
  // padding: 10% 0;

  h3 {
    font-weight: 200;
    margin-top: 20%;
  }

  h1 {
    margin-bottom: 5%;
  }
  p {
    margin: 24px auto;
    width: 80%;
    max-width: 720px;
  }
}
