#nav-toggle-btn {
    position: absolute;
    transform: translate(50%, -50%);
    z-index: 999999;

}

.nav-container {
    z-index: 999998;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.nav-bg-tile {
    right: 0;
    opacity: 0.95;
    height: 12.5vh;
    background-color: white;
}

.my-nav-item {
    left: 0vw;
    width: 100%;
    text-align: center;

    h1 {
        font-size: 15vh;
        line-height: 20vh;
        color: black;
    }

}